body {
    background-color: black;
    font-family: fixedsys;
    color: magenta;
}

@font-face {
    font-family: fixedsys;
    src: url(../../fonts/FSEX300.ttf);
}

pre {
    font-family: fixedsys;
}

.container {
    display: flex;
    justify-content: center;
}

#ubash {
    width: 80rem;
    height: 30rem;
}

#neocoral {
    width: 80rem;
    height: 60rem;
}