html, body {
    background-color: black;
    height: 100vh;
    margin: 0;
    font-family: fixedsys;
    color: white;
    color: magenta;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
}

#mainHolder {
    text-align: center;
}

#topNav {
    background-color: black;
    height: 4rem;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

a {
    font-family: fixedsys;
    color: orange;
    transition: color 0.3s;
    text-decoration: none;
}

a:hover { color: orangered; }

#main {
    border: 3px double;
    background-color: black;
    color: magenta;
    width: 18rem;
    padding: 10px;
    font-size: small;
    min-height: 4rem;
}

marquee {
    color: white;
}

button {
    border: 3px double;
    background-color: black;
    color: magenta;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
}

#clicker {
    position: absolute;
    top: 25%;
}

#click {
    color: white;
    border-radius: 50%;
    font-size: 4rem;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
}