html, body {
    background-color: black;
    font-family: fixedsys;
    color: deeppink;
    overflow: hidden;
    margin: 0;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

#main {
    width: 100vw;
    height: 100vh;
    cursor: none;
}

#user {
    font-size: 20px;
    margin-top: 15px;
    margin: 0.5rem;
}

#input {
    background: none;
    outline: none;
    border: none;
    color: deeppink;
    font-family: fixedsys;
    font-size: 15px;
    width: 50rem;
    cursor: none;
}

#input-align {display: inline-block;}

#user-input {margin: 0.5rem;}

#text {margin-left: 0.5rem;}

#logo {color: lime;}

pre {font-family: fixedsys;}