html, body {
    background-color: black;
    font-family: fixedsys;
    color: cyan;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

.center {
    display: flex;
    justify-content: center;
}

#main {
    border: 4px double cyan;
}

button {
    border: 3px double;
    background-color: black;
    color: cyan;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: cyan;
    color: black;
    border-color: cyan;
    top: -5px;
}

.text-center {
    text-align: center;
}

hr {
    margin-left: 4px;
    margin-right: 4px;
    border-color: cyan;
}