#ankorville {
    top: 15%;
    left: 42%;
    transform: rotateZ(-27deg);
}

#buhlk {
    top: 4%;
    left: 50%;
    transform: rotatez(30deg);
}

#jefrada {
    top: 29%;
    left: 44%;
    transform: rotateZ(-20deg);
}

#bigl {
    top: 35%;
    left: 50%;
    transform: rotateZ(5deg);
}

#alexandria {
    top: 20%;
    left: 49%;
    transform: rotateZ(45deg);
}