html, body {
    font-family: fixedsys;
    overflow: hidden;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

pre { font-family: fixedsys; }

.center {
    display: flex;
    justify-content: center;
}

#main {
    text-align: center;
}

button {
    background-color: black;
    color: white;
    font-family: fixedsys;
    cursor: pointer;
}

input {
    font-family: fixedsys;
    background-color: black;
    color: white;
}

#searchFrame {
    width: 100%;
    height: 95vh;
}

#search {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}