html, body{
    background-color: black;
    font-family: fixedsys;
    color: white;
}

@font-face {
    font-family: fixedsys;
    src: url(fixedsys.ttf);
}

pre { font-family: fixedsys; }

#main {
    background-color: blue;
    width: 35rem;
    height: 20rem;
    margin-top: 15%;
    box-shadow: 10px 10px gray;
    position: absolute;
    z-index: 100;
}

#top {
    background-color: darkblue;
    width: 100%;
    height: 1rem;
}

#bootOverlay {
    width: 100%;
    height: 19rem;
    position: absolute;
    z-index: 1000;
    background-color: blue;
}

#bootProccess { padding-left: 5px; }

#topGrid {
    width: 100%;
    background-color: red;
    height: 2rem;
}

button {
    border: 3px double;
    background-color: black;
    color: cyan;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
}

button:hover {
    background-color: cyan;
    color: black;
    border-color: darkcyan;
    top: -5px;
}

.appBtn { height: 2rem; }

#watermarkTop {float: right;}

#nano {
    background-color: indigo;
    display: none;
    height: 17rem;
}

textarea { font-family: fixedsys; }
#nanoText {
    background-color: lightgray;
    width: 90%;
    height: 80%;
}

#terminal {
    height: 17rem;
    background-color: black;
    border: 1px solid white;
    color: lime;
    display: none;
    font-size: small;
}

#input {
    border: none;
    background: none;
    outline: none;
    color: lime;
    width: 13rem;
}

input { font-family: fixedsys; }

.center {
    display: flex;
    justify-content: center;
}

#wakalk3001, #bewbew {
    display: none;
}

#wakalk3001frame {
    width: 99.5%;
    height: 17rem;
}

#bewbewframe {
    width: 99.5%;
    height: 17rem
}

