html, body {
    background-color: black;
    color: cyan;
    font-family: fixedsys;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

#main {
    border: 4px double magenta;
    padding: 10px;
    width: fit-content;
}

pre {font-family: fixedsys;}

button {
    color: cyan;
    border: 4px double cyan;
    background: none;
    cursor: pointer;
    font-family: fixedsys;
}

#red {
    color: white;
    background-color: red;
    border: 4px double red;
}

#blue {
    color: white;
    background-color: blue;
    border: 4px double blue;
}

#freeMoneyBtn {display: none;}