body {
    background-color: black;
    font-family: fixedsys;
    color: white;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

textarea {
    background-color: navy;
    border: 4px ridge white;
    outline: none;
    color: white;
    text-decoration-color: white;
    font-family: fixedsys;
}

#title {
    background-color: navy;
    border: 4px ridge white;
}

#run {
    background-color: navy;
    border: 4px ridge white;
    color: gold;
    font-weight: bold;
    font-family: fixedsys;
    cursor: pointer;
    padding-top: 2px;
}