body {
    background-color: black;
    color: magenta;
    font-family: fixedsys;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

pre {font-family: fixedsys;}

.main {
    background-color: black;
    border: 4px double magenta;
    width: 98vw;
    height: 95vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

button {
    border: 4px double magenta;
    background: none;
    color: magenta;
    font-size: large;
    position: relative;
    z-index: 100;
    height: 35px;
    width: 35px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-family: fixedsys;
}

.bottom {
    border-bottom: 4px double magenta;
}

marquee {
    float: left;
    position: relative;
    z-index: 10;
    color: white;
}

.app {
    border: 4px double magenta;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}

img {
    width: 25px;
    height: 25px;
}

.appHolder {
    margin: 20px;
    cursor: pointer;
    width: fit-content;
}

#shrekexeOpen {
    display: none;
    background-color: black;
    border: 4px double magenta;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px;
    width: 35%;
    height: 60%;
    text-align: center;
    z-index: 1000;
}

#terminal {
    display: none;
    background-color: black;
    border: 4px double magenta;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 100px;
    width: 35%;
    height: 60%;
    z-index: 1000;
    color: lime;
    overflow: hidden;
}

#cover {
    width: 100%;
    height: 100%;
}

#input {
    border: none;
    outline: none;
    width: 5rem;
    text-decoration: none;
    background: none;
    color: lime;
    font-family: fixedsys;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
}

.purple {color: #b700b6;}
.blue {color: #1547ff;}
.gray {color: gray;}

#basic-html {
    display: none;
}

#explorerIcon {
    width: 22px;
    margin-left: -3px;
}

.topBar {
    float: left;
}