body {
    background-color: black;
    font-family: fixedsys;
    color: magenta;
}

@font-face {
    font-family: fixedsys;
    src: url(../../fonts/FSEX300.ttf);
}

pre {
    font-family: fixedsys;
}

