#circle {
    width: 250px;
    height: 250px;
    background-color: red;
    border-radius: 50%;
}

#text {font-size: 24px;}

p {color: cyan;}

.container {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}