body {
    background-color: black;
    font-family: fixedsys;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

.main {
    color: white;
    font-size: large;
    border: 4px double magenta;
    text-align: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    color: cyan;
    position: relative;
    z-index: 100;
    font-family: fixedsys;
}

button {
    border: 3px double;
    background-color: black;
    color: magenta;
    margin-bottom: 4px;
    font-family: fixedsys;
    cursor: pointer;
}

.btnHolder {
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    text-align: center;
}
