html, body {
    background-color: black;
    color: white;
    font-family: fixedsys;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

.center {
    display: flex;
    justify-content: center;
}

#main {
    border: 4px double blue;
    padding: 10px;
    text-align: center;
    width: 50%;
}

hr {
    border: 1px dotted white;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    color: black;
    background-color: cyan;
}

.title { font-size: xx-large; }
.title2 { font-size: x-large; }

#tech {
    float: left;
}

.inline {
    display: flex;
}

.shop {
    border: 4px double navy;
    color: cyan;
    padding: 10px;
    width: 30.5%;
    height: 15rem;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

fieldset {
    border: 4px double blue;
    outline-offset: -4px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

legend {
    color: white;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
    text-decoration-style: dotted;
    background-color: navy;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
}

button {
    border: 3px double dodgerblue;
    background-color: navy;
    color: white;
    margin-bottom: 4px; 
    font-family: fixedsys;
    cursor: pointer;
    position: relative;
    outline-offset: -2px;
    outline-color: white;
    outline-style: dotted;
    outline-width: 1px;
    box-shadow: 2px 2px darkslateblue;
}

button:hover {
    background-color: dodgerblue;
    color: white;
    border-color: blue;
    top: -2px;
}

#discountHolder {
    display: none;
}

#annoucnement {
    background-color: mediumaquamarine;
    color: black;
}