body {
    background-color: black;
    font-family: fixedsys;
    color: magenta;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

button {
    border: 3px double;
    background-color: black;
    color: magenta;
    margin-bottom: 4px;
    font-family: fixedsys;
    cursor: pointer;
}

.buttonHolder {margin: 20px;}

@keyframes anim {
    50%{transform: rotateX(180deg);}
    50%{transform: rotateX(-180deg);}
}

.title {
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    padding: 15px;
    margin-left: 0px;
    border: 4px double magenta;
    justify-items: center;
    display: flex;
}

.title:hover {animation-name: anim;}

.blue {color: dodgerblue;}

#homepage {color: cyan;}