body {
    background-color: black;
    font-family: fixedsys;
    color: magenta;
    text-align: center;
}

@font-face {
    font-family: fixedsys;
    src: url(../fonts/FSEX300.ttf);
}

input {
    border: 4px double magenta;
    background: none;
    color: magenta;
    outline: none;
}

button {
    border: 3px double;
    background-color: black;
    color: magenta;
    font-family: fixedsys;
    cursor: pointer;
}

a {color: cyan;}